

body {
    background-color: #eae9e3;
    padding: 0;
    margin: 5rem;
    box-sizing: border-box;
}
.layout {
    background-color: white;
    display: inline-block;
    padding: 8px;
    border-radius: 12px;
    vertical-align: middle;
}
.greetings {
    display: inline-block; 
    vertical-align: middle; 
    margin-left: 50px;
    line-height: 0.2;
}
